
<!--VOICI LA PARTIE FOOTER---------------------------------------------->
{# <footer class="container-fluid py-3 img_pied" style="background-image: url({{ asset('assets/home/images/footer.png')}});"> #}
<footer class="container-fluid py-3 img_pied">
	<div class="row mt-5">
		<div class="col-md-12 mb-5 mt-3">
			<div class="mx-auto d-block img-fluid bg-white logo_princ_ngeza" style="background-image: url({{ asset('assets/home/images/eirl.png')}});"></div>
			<div class="d-flex text-center mx-auto mb-5 justify-content-end px-2 py-4 social_icon" style="max-width:400px;">
				<a href="#"><i class="fab fa-facebook-square fa-2x icon_reseau img-fluid"></i></a>
				<a href="#"><i class="fab fa-instagram fa-2x icon_reseau img-fluid"></i></a>
				<a href="#"><i class="fab fa-twitter fa-2x icon_reseau img-fluid"></i></a>
				<a href="#"><i class="fab fa-youtube fa-2x icon_reseau img-fluid"></i></a>
			</div>
		</div>
	</div>
	<div class="row pb-1 mx-5 px-5 espace">
		<div class="col-md-4 px-0 py-0">
			<ul>
				<li class=" text-justify text-center text-light font-weight-light ligne">Carte grise</li>
				<li class=" text-justify text-center text-light font-weight-light ligne">Certificat de session</li>
				<li class=" text-justify text-center text-light font-weight-light ligne">Changement d'adresse</li>
			</ul>
		</div>
		<div class="col-md-4 px-0 py-0">
			<ul>
				<li class=" text-justify text-center text-light font-weight-light ligne">Changement de titulaire</li>
				<li class=" text-justify text-center text-light font-weight-light ligne">Demande de duplicata</li>
				<li class=" text-justify text-center text-light font-weight-light ligne">Plaque d'immatriculation</li>
			</ul>
		</div>
		<div class="col-md-4 px-0 py-0">
			<ul>
				<li class=" text-justify text-center text-light font-weight-light ligne">7744 North Park Place</li>
				<li class=" text-justify text-center text-light font-weight-light ligne">an Francisco, CA 714258</li>
				<li class=" text-justify text-center text-light font-weight-light ligne">support@canyonthemes.com</li>
				<li class=" text-justify text-center text-light font-weight-light ligne">777-444-2222</li>
			</ul>
		</div>
	</div>
	
	<p class="text-center text-light font-weight-light mt-5 p-5 ">Website produced and hosted by <strong class="text-light">Good-ID Communication</strong></p>
</footer>